@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #e5e4e0;
    --secondry-color: #f5f4f0;
    --btn-primary: #000000;
    --primary-heading: #0c1214;
    --secondry-heading: #a09385;
    --card-one: #ffc940;
    --card-two: #7400d7;
    --card-three: #ffc940;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

a {
    text-decoration: none;
}

img {
    width: 100%;
}


.logo {
    display: grid;
    align-items: center;
}

.primary-btn {
    padding: 10px 40px;
    background-color: var(--btn-primary);
    color: white;
    border: none;
    border-radius: 10px;
}

.primary-btn:hover {
    background-color: var(--card-one);
    transition: .3s ease;
}



/* ############################ Navbar ######################## */

header {
    position: fixed;
    width: 100%;
    background-color: var(--primary-color);
    top: 0;

}

.hamburger {
    display: none;
    /* z-index: 1000; */
}

#close {
    visibility: hidden;
    z-index: 999;
}

#close a {
    color: white;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    max-width: 1480px;
    margin: auto;
    gap: 10px;
    align-items: center;

}

#navbar> :nth-child(2) {
    display: flex;
}

#navbar img {
    width: 100px;
}

.nav-social {
    display: flex;
    padding: 5px 20px;
    justify-content: flex-end;
    gap: 15px;
    background-color: var(--secondry-color);
}

.nav-social div {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.fa-brands {
    color: var(--card-two);
    font-size: 14px;

}

.fa-brands:hover {
    color: var(--card-three);

}

.nav-items ul {
    display: flex;
    justify-content: flex-end;
}

.nav-items ul li {
    margin: 0px 20px;
    text-decoration: none;
    list-style: none;

}

.nav-items ul li a {
    color: black;
    font-size: 13px;
}

.nav-items ul li a:hover {
    color: var(--card-two);
    cursor: pointer;
}

/* ############################ Main Section ######################## */

#main-cont {
    margin-top: 67px;

}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;


}

#hero .hero-left {
    background-color: var(--secondry-color);
    padding: 10px;
}

.hero-left>div {
    max-width: 450px;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    margin: auto;
    row-gap: 20px;
}

.hero-left>div>:nth-child(1) {
    color: var(--primary-heading);
    font-weight: 500;
    font-size: 26px;
}

.hero-left>div>:nth-child(2) {
    color: var(--primary-heading);
    font-weight: 400;
    font-size: 28px;
}

.hero-left>div>:nth-child(3) {
    color: #414141;
    font-weight: 200;
    text-align: justify;
    font-size: 16px;
}



#hero .hero-right {
    
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    background-position: center;
}

.slogon {
    width: 130px;
    font-size: 8px;
}

.re-de {
    color: var(--card-one);
}

.hero-left>div>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ############################ intro ######################## */


.intro {

    margin: auto;
    display: grid;
    justify-content: center;
}

.intro > div {
    display: grid;
    max-width: 700px;
    padding: 80px 20px;
    row-gap: 20px;
    text-align: center;
}

.intro > div > :nth-child(1){
    font-size: 40px;
}
.intro > div > :nth-child(2){
    font-size: 20px;
    font-weight: 200;
    color: var(--secondry-heading);
}


/* ############################ categories ######################## */

.categories{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: var(--secondry-color);
    padding: 20px;
    gap: 30px;
}

.categories .cat-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    padding-bottom: 10px;
}

.cat-card:hover{
    padding: 10px;
    transition: .3s ease-in-out;
}

.cat-card a{
    text-decoration: none;
    color: var(--btn-primary);
}

.categories img{
    border-radius: 20px;
}
.categories p{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}





/* ############################ footer ######################## */

footer {
    background-color: var(--primary-color);
    color: black;
    padding: 30px 20px;
    display: grid;
    /* row-gap: 100px; */
}

footer img {
    width: 100px;
}

footer .co-info {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}

.co-info >div{
    display: grid;
    max-width: 400px;
}

.co-info > :nth-child(2) p{
    font-weight: 200;
}

footer>:last-child {
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 10px;
    border-top: 1px solid grey;
}