@media screen and (max-width: 700px) {
    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 36px;

    }

    .hamburger a {
        text-decoration: none;
        color: black;
    }

    .nav-menu {
        position: absolute;
        visibility: hidden;
        background-color: var(--card-three);
        top: 30px;
        right: 0;
        height: 100vh;
        width: 200px;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
        padding: 40px 0px 0px 20px;
    }



    .nav-items>ul {
        flex-direction: column;
        row-gap: 20px;
    }

    .nav-items ul li a {
        text-decoration: none;
        color: var(--btn-primary);
        font-weight: 600;
        letter-spacing: .5px;
        color: white;
    }

    .nav-items ul li a:hover {
        
        color: var(--btn-primary);
    }



}


@media screen and (max-width: 800px) {

    #hero {
        grid-template-columns: 1fr;
        height: auto;
    }

    

    .hero-left>div {
        max-width: 90%;
        align-items: center;

    }

    .hero-left>div>:nth-child(1) {
        font-size: 22px;
    }

    .hero-left>div>:nth-child(2) {
        font-size: 24px;
    }

    .hero-left>div>:nth-child(3) {
        font-size: 16px;
    }

    
    .hero-right {
        height: 60vh;
    }


}


@media screen and (max-width: 800px) {
    .categories>div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {

    .hero-left>div {
        max-width: 100%;
        row-gap: 5px;
    }

    .categories > div{
        grid-template-columns: repeat(1, 1fr);
    }

    .hero-left>div {
        align-items: center;
        justify-content: center;
        text-align: center;
    }


}